# Assingment-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [28]:
driver = webdriver.Safari()

In [29]:
driver.get('https://www.naukri.com/')

In [30]:
driver.find_element_by_id('qsb-keyword-sugg').send_keys('Data Analyst')
driver.find_element_by_id('qsb-location-sugg').send_keys('Bangalore')

In [31]:
driver.find_element_by_class_name('btn').click()

In [40]:
Title=[]
Location=[]
Company=[]
Experience=[]

In [50]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    Title.append(title)
Title=Title[:10]

In [51]:
locations= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in locations:
    location=i.text
    Location.append(location)
Location=Location[:10]

In [52]:
companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company=i.text
    Company.append(company)
Company=Company[:10]

In [53]:
experiences=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experiences:
    experience=i.text
    Experience.append(experience)
Experience=Experience[:10]

In [54]:
df=pd.DataFrame({})
df['Title']=Title
df['Companies']=Company
df['Experience']=Experience
df['Location']=Location

In [55]:
df

,Title,Companies,Experience,Location
0,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
2,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
3,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bengaluru
4,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,5-9 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
5,Business / Data Analyst,IBM India Pvt. Limited,2-4 Yrs,Bengaluru
6,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
7,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Bengaluru
8,NiFi Data Analyst,Capgemini Technology Services India Limited,4-6 Yrs,Bengaluru
9,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-6 Yrs,Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [117]:
driver = webdriver.Safari()

In [118]:
driver.get('https://www.naukri.com/')

In [119]:
pos=driver.find_element_by_id("qsb-keyword-sugg")
pos.send_keys("Data Scientist")
loc=driver.find_element_by_id("qsb-location-sugg")
loc.send_keys('Bangalore')

In [120]:
driver.find_element_by_class_name('btn').click()

In [121]:
Title=[]
Location=[]
Company=[]
Description=[]

In [122]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    Title.append(title)
Title=Title[:10]

In [124]:
locations= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in locations:
    location=i.text
    Location.append(location)
Location=Location[:10]

In [126]:
companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company=i.text
    Company.append(company)
Company=Company[:10]

In [128]:
descriptions=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in descriptions:
    description=i.text
    Description.append(description)
Description=Description[:10]

In [130]:
df2=pd.DataFrame({})
df2['Title']=Title
df2['Companies']=Company
df2['Location']=Location
df2['Description']=Description

In [131]:
df2

,Title,Companies,Location,Description
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career t...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS / MS/PhD in Computer Science, Statistics, ..."
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS/ MS/ PhD in Computer Science, Statistics, ..."
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Experience working with some of the following...
4,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, A..."
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",Role Sr. Data Scientist Exp. 12 – 20 years Lo...
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development pract...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Logical and Analytical skills must be really ...
8,Data Scientist- Manager/Sr. Manager,GENPACT India Private Limited,Bengaluru,Experience in life sciences and health care i...
9,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",Graduate/ Post Graduate Develop a strong rapp...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [111]:
driver = webdriver.Safari()

In [112]:
driver.get('https://www.naukri.com/')

In [113]:
pos=driver.find_element_by_id("qsb-keyword-sugg")
pos.send_keys("Data Scientist")

In [114]:
driver.find_element_by_class_name('btn').click()

In [115]:
loc=driver.find_element_by_xpath("//span[@title='Delhi/NCR']").click()

In [116]:
sal=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [117]:
Title=[]
Location=[]
Company=[]
Experience=[]

In [118]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    Title.append(title)
Title=Title[:10]

In [119]:
locations= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in locations:
    location=i.text
    Location.append(location)
Location=Location[:10]

In [120]:
companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company=i.text
    Company.append(company)
Company=Company[:10]

In [121]:
experiences=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experiences:
    experience=i.text
    Experience.append(experience)
Experience=Experience[:10]

In [122]:
df3=pd.DataFrame({})
df3['Title']=Title
df3['Companies']=Company
df3['Experience']=Experience
df3['Location']=Location

In [123]:
df3

,Title,Companies,Experience,Location
0,Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Gurgaon Gurugram
1,Data Scientist,Ciena,5-6 Yrs,Gurgaon Gurugram
2,Data Scientist,Country Veggie,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
3,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon
4,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,3-5 Yrs,Gurgaon
5,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,1-3 Yrs,Gurgaon
6,Data Scientist,Amity University,6-8 Yrs,"Faridabad, Delhi NCR, Ghaziabad"
7,Data Scientist,BlackBuck,3-7 Yrs,"Bengaluru, Gurgaon"
8,Senior Data Scientist,iNICU,1-5 Yrs,Delhi
9,Senior Data Scientist - NLP,IRIS SOFTWARE Inc,4-9 Yrs,Delhi NCR

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [171]:
driver = webdriver.Safari()

In [172]:
driver.get('https://www.glassdoor.com/"')

In [173]:
pos= driver.find_element_by_id("sc.keyword")
pos.send_keys('Data Scientist')
loc= driver.find_element_by_id("sc.location")
loc.send_keys('Noida')

In [175]:
driver.find_element_by_class_name('gd-btn-mkt').click()

In [185]:
Title=[]
Company=[]
Day=[]
Rating=[]

In [186]:
titles=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span")
for i in titles:
    title=i.text
    Title.append(title)
Title=Title[:10]

In [187]:
Title

['Data Analyst/ Scientist',
 'Data Analyst / Fresher / Data Scientist / Graduate Fresher - MNC - 7303778896 | 9560245147',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist 2',
 'Data Scientist']

In [188]:
companies=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span")
for i in companies:
    company=i.text
    Company.append(company)
Company=Company[:10]

In [189]:
Company

['ANI Calls India Private Limited',
 'Structured Learning Assistance Consultants India Private Limited',
 'Adobe',
 'Biz2Credit Inc',
 'Emerging India Group',
 'Salasar New Age Technologies',
 'WishFin',
 'Techlive',
 'Microsoft',
 'Mahindra Comviva']

In [190]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in days:
    days_ago=i.text
    Day.append(days_ago)
Day=Day[:10]

In [191]:
Day

['30d+', '30d+', '9d', '30d+', '30d+', '30d+', '18d', '30d+', '30d+', '1d']

In [192]:
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    rating=i.text
    Rating.append(rating)
Rating=Rating[:10]

In [193]:
Rating

['3.4', '3.5', '4.0', '5.0', '4.4', '3.4', '3.7', '3.0', '3.7', '4.2']

In [195]:
df4=pd.DataFrame({})
df4['Title']=Title
df4['Companies']=Company
df4['Day']=Day
df4['Rating']=Rating

In [196]:
df4

,Title,Companies,Day,Rating
0,Data Analyst/ Scientist,ANI Calls India Private Limited,30d+,3.4
1,Data Analyst / Fresher / Data Scientist / Grad...,Structured Learning Assistance Consultants Ind...,30d+,3.5
2,Data Scientist,Adobe,9d,4.0
3,Data Scientist,Biz2Credit Inc,30d+,5.0
4,Data Scientist,Emerging India Group,30d+,4.4
5,Data Scientist,Salasar New Age Technologies,30d+,3.4
6,Data Scientist,WishFin,18d,3.7
7,Data Scientist,Techlive,30d+,3.0
8,Data Scientist 2,Microsoft,30d+,3.7
9,Data Scientist,Mahindra Comviva,1d,4.2

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page

In [14]:
driver = webdriver.Safari()

In [15]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [16]:
pos= driver.find_element_by_id("KeywordSearch")
pos.send_keys('Data Scientist')
loc= driver.find_element_by_id("LocationSearch")
loc.clear()
loc.send_keys('Noida')

In [17]:
driver.find_element_by_class_name('gd-btn-mkt').click()

In [42]:
Company=[]
Average_salary=[]
Min_salary=[]
Max_salary=[]

In [43]:
companies=driver.find_elements_by_xpath("//p[@class='m-0 ']")
for i in companies:
    company=i.text
    Company.append(company)
Company=Company[:10]

In [44]:
Company

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'EXL Service']

In [45]:
avg_salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
for i in avg_salary:
    avg_salarys=i.text
    Average_salary.append(avg_salarys)
Average_salary=Average_salary[:10]

In [46]:
Average_salary

['₹ 12,64,182/yr',
 '₹ 7,30,968/yr',
 '₹ 6,00,000/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr',
 '₹ 11,34,989/yr']

In [49]:
min_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in min_salary:
    Min_salarys=i.text
    Min_salary.append(Min_salarys)
Min_salary=Min_salary[:10]

In [50]:
Min_salary

['₹450K',
 '₹350K',
 '₹336K',
 '₹577K',
 '₹587K',
 '₹717K',
 '₹502K',
 '₹621K',
 '₹793K',
 '₹576K']

In [51]:
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in max_salary:
    Max_salarys=i.text
    Max_salary.append(Max_salarys)
Max_salary=Max_salary[:10]

In [52]:
Max_salary

['₹11,630K',
 '₹1,614K',
 '₹1,010K',
 '₹2,215K',
 '₹2,732K',
 '₹1,575K',
 '₹1,152K',
 '₹1,696K',
 '₹1,264K',
 '₹1,500K']

In [56]:
df5=pd.DataFrame({})
df5['Company']=Company
df5['Average_salary']=Average_salary
df5['Min_salary']=Min_salary
df5['Max_salary']=Max_salary

In [57]:
df5

                          Company  Average_salary Min_salary Max_salary
0                       Delhivery  ₹ 12,64,182/yr      ₹450K   ₹11,630K
1              Ericsson-Worldwide   ₹ 7,30,968/yr      ₹350K    ₹1,614K
2       Tata Consultancy Services   ₹ 6,00,000/yr      ₹336K    ₹1,010K
3                       Accenture   ₹ 9,94,055/yr      ₹577K    ₹2,215K
4                             IBM   ₹ 7,39,040/yr      ₹587K    ₹2,732K
5              UnitedHealth Group  ₹ 13,37,114/yr      ₹717K    ₹1,575K
6              Valiance Solutions   ₹ 7,80,374/yr      ₹502K    ₹1,152K
7                      Innovaccer  ₹ 11,98,792/yr      ₹621K    ₹1,696K
8  Cognizant Technology Solutions  ₹ 10,08,143/yr      ₹793K    ₹1,264K
9                     EXL Service  ₹ 11,34,989/yr      ₹576K    ₹1,500K

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

In [65]:
driver = webdriver.Safari()

In [66]:
driver.get('https://www.flipkart.com/')

In [69]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [70]:
sunglass=driver.find_element_by_xpath("//input[@class='_3704LK']")
sunglass.send_keys('sunglasses')

In [71]:
driver.find_element_by_class_name('L0Z3Pu').click()

In [91]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [92]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand:
    brands=i.text
    Brand.append(brands)

In [93]:
Brand

['ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Phenomenal',
 'Rozzetta Craft',
 'Phenomenal',
 'shah collections',
 'shah collections',
 'Elligator',
 'Fastrack',
 'Online Mantra',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'funglasses',
 'JUST STYLE',
 'Fastrack',
 'Rex',
 'Fastrack',
 'Riffko',
 'Gansta',
 'funglasses',
 'EYELLUSION',
 'Deixels',
 'ROZZETTA CRAFT',
 'ETRG',
 'PIRASO',
 'funglasses',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'I Flash',
 'David Martin',
 'HAMIW COLLECTION',
 'like future',
 'Royal Son',
 'Silver Kartz']

In [94]:
description=driver.find_elements_by_class_name("IRpwTa")
for i in description:
    descriptions=i.text
    Product_Description.append(descriptions)

In [95]:
Product_Description

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round, Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'Polarized Round Sunglasses (15)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection, Others Wayfarer Sunglasses (32...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Night Vision Round, Round Sunglasses (5...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (99)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Gradient Retro Square, Spe...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Oval Sunglasses (56)']

In [96]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price:
    prices=i.text
    Price.append(prices)

In [97]:
Price

['₹499',
 '₹599',
 '₹499',
 '₹499',
 '₹404',
 '₹314',
 '₹399',
 '₹398',
 '₹399',
 '₹331',
 '₹227',
 '₹329',
 '₹599',
 '₹151',
 '₹599',
 '₹284',
 '₹896',
 '₹161',
 '₹135',
 '₹549',
 '₹259',
 '₹596',
 '₹210',
 '₹284',
 '₹160',
 '₹344',
 '₹211',
 '₹499',
 '₹209',
 '₹225',
 '₹118',
 '₹399',
 '₹225',
 '₹195',
 '₹123',
 '₹185',
 '₹399',
 '₹181',
 '₹279',
 '₹265']

In [98]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in discount:
    discounts=i.text
    Discount.append(discounts)

In [99]:
Discount

['77% off',
 '33% off',
 '37% off',
 '37% off',
 '79% off',
 '80% off',
 '80% off',
 '73% off',
 '80% off',
 '80% off',
 '77% off',
 '86% off',
 '33% off',
 '69% off',
 '33% off',
 '81% off',
 '31% off',
 '83% off',
 '77% off',
 '45% off',
 '74% off',
 '25% off',
 '82% off',
 '85% off',
 '83% off',
 '85% off',
 '88% off',
 '77% off',
 '73% off',
 '85% off',
 '84% off',
 '50% off',
 '85% off',
 '75% off',
 '87% off',
 '83% off',
 '86% off',
 '83% off',
 '78% off',
 '77% off']

In [101]:
df6=pd.DataFrame({})
df6['Brand']=Brand
df6['Product_Description']=Product_Description
df6['Price']=Price
df6['Discount']=Discount

In [102]:
df6

,Brand,Product_Description,Price,Discount
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,33% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
5,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹314,80% off
6,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
7,Rozzetta Craft,UV Protection Rectangular Sunglasses (Free Size),₹398,73% off
8,Phenomenal,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
9,shah collections,UV Protection Round Sunglasses (Free Size),₹331,80% off
10,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹227,77% off
11,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
12,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,33% off
13,Online Mantra,"UV Protection Round, Aviator Sunglasses (Free ...",₹151,69% off
14,Fastrack,UV Protection Wayfarer Sunglasses (56),₹599,33% off
15,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹284,81% off
16,Fastrack,UV Protection Aviator Sunglasses (58),₹896,31% off
17,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹161,83% off
18,JUST STYLE,Polarized Round Sunglasses (15),₹135,77% off
19,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹549,45% off
20,Rex,"Mirrored, UV Protection, Others Wayfarer Sungl...",₹259,74% off
21,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹596,25% off
22,Riffko,UV Protection Wayfarer Sunglasses (55),₹210,82% off
23,Gansta,UV Protection Aviator Sunglasses (57),₹284,85% off
24,funglasses,"Riding Glasses, Night Vision Round, Round Sung...",₹160,83% off
25,EYELLUSION,"Night Vision, Polarized, UV Protection, Riding...",₹344,85% off
26,Deixels,UV Protection Wayfarer Sunglasses (Free Size),₹211,88% off
27,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
28,ETRG,"Gradient, UV Protection Aviator Sunglasses (99)",₹209,73% off
29,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
30,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹118,84% off
31,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹399,50% off
32,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
33,NuVew,UV Protection Aviator Sunglasses (58),₹195,75% off
34,I Flash,"Gradient, UV Protection Round Sunglasses (Free...",₹123,87% off
35,David Martin,"Gradient, UV Protection Aviator Sunglasses (58)",₹185,83% off
36,HAMIW COLLECTION,"UV Protection, Night Vision, Gradient Retro Sq...",₹399,86% off
37,like future,Mirrored Aviator Sunglasses (Free Size),₹181,83% off
38,Royal Son,UV Protection Wayfarer Sunglasses (55),₹279,78% off
39,Silver Kartz,UV Protection Oval Sunglasses (56),₹265,77% off